$blue-color: rgb(53, 53, 228);


main {
    display: flex;
    
}

.login-container {
    width: 50%;
    height: 100vh;
    display: flex;
    background-color: rgb(243, 242, 229);;
}

.right-container {
    background-color: $blue-color;
    width: 50%;
    display: flex;
    
}

.time-track {
    color: white;
    font-size: 1.5cm;
    font-weight: 800;
    text-align: center;
    margin: auto;
    display: block;
}

.quote {
    color: white;
    font-size: 0.6cm;
    display: block;
    font-weight: 400;
    
}


input {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #a8a8b3;
    border-color: #6d6d70;
    display: block;
    margin: auto;
    margin-top: 10px;    
 }

.red-border{
    border-color: red;
    color: red;
}

.green-border{
    border-color: #358018;
    color: #358018;
}

input[type=text], input[type=password], select {
    padding-left: 20px;
    font-size: 2ch;
    
}



input:focus {
    outline: none;
}


button {
    display: block;
    margin: auto;
    cursor: pointer;
    width: 276px;
    margin-top: 10px;
    height: 40px;
    background-color: rgb(53, 53, 228);
    color:white;
    font-weight: 300;
    font-size: 2.0ch;
    border-radius: 8px;
    border: none; 

}

button:hover {
    background-color: magenta;
}

.login-form {
   width: 300px;
   margin: auto; 
}


h2 {
    text-align: center;
    margin-top: 0px;
}

.create-account {
    margin: 6px 12px 0 0;

    text-align: end;
    
}

.click-here:hover{
    color: magenta;
    text-decoration: underline;
    cursor: pointer;
}