$gray-color: #f2f4f8;

main {
    display: flex;
}

.login-container {
    width: 50%;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255); 
}

.right-container {
    background-color: $gray-color;
    width: 50%;
    display: flex;
    
}

img {
    margin: 80px;
}

.time-track {
    color: #1976d2;
    font-size: 1.5cm;
    font-weight: 800;
    text-align: center;
    margin: auto;
    display: block;
}

.title {
    padding-bottom: 40px;
}

.quote {
    color: rgb(0, 0, 0);
    font-size: 0.6cm;
    display: block;
    font-weight: 400;
}

.input {
    margin-bottom: 10px !important;
    width: 350px;
}

.button {
    margin-bottom: 10px !important;
    width: 350px;
    height: 40px;
}

.login-form {
   width: 350px;
   margin: auto; 
}


h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 0px;
}

.create-account {
    margin: 6px 12px 0 0;

    text-align: end;
    
}

.click-here:hover{
    color: magenta;
    text-decoration: underline;
    cursor: pointer;
}
