$gray-color: #f2f4f8;

main {
    display: flex;
}

.login-container {
    width: 40%;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255); 
}

.right-container {
    background-color: $gray-color;
    width: 60%;
    display: flex;
}

img {
    margin: 80px;
}

.time-track {
    text-align: center;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.title {
    margin-bottom: 80px;
    color: #1976d2;
    font-weight: 800;
    font-size: 1.5cm;
}

.title-mini {
    margin-bottom: 80px;
    color: #1976d2;
    font-weight: 800;
    font-size: 1cm;
}

.quote {
    color: rgb(0, 0, 0);
    font-size: 0.6cm;
    display: block;
    font-weight: 400;
}

.input {
    margin-bottom: 10px !important;
    width: 350px;
}

.button {
    margin-bottom: 10px !important;
    width: 350px;
    height: 40px;
}

.login-form {
   width: 350px;
   margin: auto; 
}


h1 {
    font-size: 28px;
    text-align: center;
}

.create-account {
    margin: 6px 12px 0 0;

    text-align: end;
    
}

.click-here:hover{
    color: magenta;
    text-decoration: underline;
    cursor: pointer;
}

.carousel {
    margin: auto;
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 800px) {
    .right-container {
        display: none;
    }
    .login-container {
        width: 100%;
    }
    .title-mini {
        opacity: 100%;
    }
    h1 {
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    .title-mini {
        opacity: 0%;
    }
    h1 {
        margin-top: 0px;
    }
}