.log-table {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 10px auto;
    font-size: larger;
    font-family: Lato-Regular;
    font-weight: 900;
    text-align: center;
    align-items: center;
    color: rgb(83, 80, 80);
    
    
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px rgb(83, 80, 80) solid;
        height: 50px;
        flex-grow: 1;
        width: 30px; 
    }   
}

