.log-table {
    z-index: 0;
    font-family: Lato-Regular;
    font-weight: 900;
    color: rgb(83, 80, 80);
    display: flex;

    .date {
        z-index: 5;
        min-width: 180px;
        box-shadow: 5px 0px 0px 0px rgba($color: #000000, $alpha: 0.1); 
    }

    .column {
        min-width: 60px; 
    }   

    div {
        margin-top: 2px;
        margin-right: 5px;
        background-color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.headerLogs {
    overflow: auto;
    height: 100%;
}